/* Write your code here: */

h1, h2 {color:blueviolet;}/* group: apply all selectors */

.box > p {
    color: firebrick; /* child:  apply no filho*/}



.box .list {color: blue;}/* ascendent descented: apply desecente */



li.done {color: seagreen;} /* changing: apply where all selectors are true */

/* Multiple Combiners */

  ul p.done {
    font-size: 0.5rem;
}